.category {
  aspect-ratio: 1/1;
  color: beige;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }

  .overlay {
    z-index: 1;
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);

    font-size: 2rem;
  }

  @media (max-width: $breakpoint-sm) {
    h3 {
      font-size: 1.3rem;
    }
  }
}
