@use '../../styles/variables' as *;

.categories {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .categoriesContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr
        }
    }
}