.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    padding: 1rem;

    @media(max-width: $breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, 1fr);
    }

}