.hero {
  width: 100%;
  height: 800px;
  color: rgb(34, 34, 34);
  overflow: hidden;
  position: relative;

  .imageWrapper {
    position: relative;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      );
      z-index: 1;
      pointer-events: none;
    }

    .image {
      object-fit: cover;
      object-position: top;
      filter: brightness(0.8);
    }
  }

  background: linear-gradient(
    45deg,
    rgb(159, 70, 167) 0%,
    rgb(180, 69, 152) 100%
  );

  .overlay {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    padding: 1rem;
    padding-right: 3rem;
    background-color: rgb(240, 240, 240);
    box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.75);

    &:hover {
      cursor: pointer;
      transform: translate(5px, -5px);
      transition: all 0.3s ease-in-out;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .buttonContainer {
      margin-top: 1rem;
      width: 100%;
      max-width: 200px;
    }
  }
}
