.hero {
  width: 100%;
  height: 853px;
  color: rgb(34, 34, 34);
  overflow: hidden;
  position: relative;

  .imageWrapper {
    position: relative;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
    }

    picture,
    .heroImage {
      width: 100%;
      height: 100%;
    }

    .heroImage {
      object-fit: cover;
      object-position: top;
    }
  }

  background: linear-gradient(
    45deg,
    rgb(159, 70, 167) 0%,
    rgb(180, 69, 152) 100%
  );

  .overlay {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;

    padding: 1rem;
    padding-right: 3rem;
    background-color: rgb(240, 240, 240);
    box-shadow: -10px 10px 0px 0px #ab53a4bf;

    &:hover {
      cursor: pointer;
      transform: translate(5px, -5px);
      transition: all 0.3s ease-in-out;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    .buttonContainer {
      margin-top: 1rem;
      width: 100%;
      max-width: 200px;

      @media (max-width: $breakpoint-sm) {
        margin: 0;
      }
    }

    @media (max-width: $breakpoint-sm) {
      bottom: 0.5rem;
      left: 0.5rem;
      width: calc(100% - 1rem);
      box-shadow: none;
      background: rgba(0, 0, 0, 0.5);
      color: rgb(224, 224, 224);

      &:hover {
        transform: translate(0px, -5px);
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    height: 640px;
  }
}
