.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    border-bottom: 1px solid rgb(129, 129, 129);
    background-color: #fdfdfd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11);

    .leftContainer {
        display: flex;
        align-items: center;
        gap: .3rem;
    }

    .menuDesktop {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-weight: 700;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }
    }

    .mobileMenuButton {
        display: none;
        padding-top: 3px;
        border: none;
        cursor: pointer;

        background-color: transparent;
        border: none;
        color: rgb(31, 31, 31);

        @media (max-width: $breakpoint-sm) {
            display: block;
        }
    }

    .actions {
        display: flex;
        gap: 1rem;
    }

    .action {
        cursor: pointer;
    }
}