.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  border-bottom: 1px solid rgb(129, 129, 129);
  background-color: #fdfdfd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11);

  .leftContainer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .menuDesktop {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-weight: 700;

    @media (max-width: $breakpoint-sm) {
      display: none;
    }

    .menuItem {
      position: relative;

      &:hover .dropdownWrapper {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
      }

      .sectionTitle {
        cursor: pointer;
      }

      .dropdownWrapper {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 1rem;
        z-index: 999;

        opacity: 0;
        pointer-events: none;

        .dropdown {
          min-width: 300px;
          background-color: white;
          border: 1px solid #b4b4b4;

          display: flex;
          flex-direction: column;
          gap: 1rem;
          color: rgb(82, 82, 82);

          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11);

          .category {
            padding: 1rem;
            &:hover {
              background-color: rgb(225, 222, 243);
            }
          }
        }
      }
    }
  }

  .mobileMenuButton {
    display: none;
    padding-top: 3px;
    border: none;
    cursor: pointer;

    background-color: transparent;
    border: none;
    color: rgb(31, 31, 31);

    @media (max-width: $breakpoint-sm) {
      display: block;
    }
  }

  .actions {
    display: flex;
    gap: 1rem;
  }

  .action {
    cursor: pointer;
  }
}
