.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid rgb(129, 129, 129);
    background-color: #fdfdfd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.11);

    .menu {
        display: flex;
        gap: 2rem;
        align-items: center;

        font-weight: 700;
    }

    .actions {
        display: flex;
        gap: 1rem;
    }

    .action {
        cursor: pointer;
    }
}