.wrapper {
  position: relative;
}

.slider {
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding: 0.2rem;

  @media (max-width: $breakpoint-md) {
    overflow-x: auto;
  }

  .sliderSlot {
    min-width: 320px;

    @media(max-width: $breakpoint-md) {
        min-width: 250px;
    }
    @media(max-width: $breakpoint-sm) {
        min-width: 200px;
    }
  }
}

$arrow-size: 2.5rem;
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $arrow-size;
  height: $arrow-size;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}
