.wrapper {
  position: relative;
}

.slider {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;

  padding: 0.15rem;
}

$arrow-size: 2.5rem;
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $arrow-size;
  height: $arrow-size;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}
