.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 3rem;
  margin-bottom: 4rem;
  gap: 0.5rem;

  @media (max-width: $breakpoint-sm) {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .collections {
    display: flex;
    width: 100%;
    height: 800px;
    gap: 0.7rem;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      height: fit-content;
      gap: 0px;
    }
  }
}
