.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 3rem;
  margin-bottom: 4rem;

  .collections {
    display: flex;
    width: 100%;
    height: 800px;
    gap: 0.7rem;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      height: fit-content;
    }
  }
}
